<main>
  <section class="promocoes">
    <div class="container">
      <h2>Promoções</h2>
      <p>Veja as promoções da semana e adquira o livro que sempre sonhou!</p>
      <div id="produtos-promocao" class="produtos-container">

      </div>
    </div>
  </section>

  <section class="em-alta">
    <div class="container">
      <h2>Em Alta</h2>
      <p>Os livros mais vendidos no site!</p>
      <div id="produtos-em-alta" class="produtos-container">

      </div>
    </div>
  </section>
  <section class="autores-destaque">
    <div class="container">
      <h2>Autores em Destaque</h2>
      <div id="autores-container" class="autores-container">

      </div>
    </div>
  </section>
</main>

